blinker
click
colorama
Flask
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
pip
SQLAlchemy
typing_extensions
Werkzeug
bcrypt==4.3.0
python-dotenv==1.1.0
flask-cors==5.0.1
mercadopago
flask_mail